.Define-image {
  height: 600px;
  width: 100%;
}

.define-text-section {
  padding: 14px;
  margin: auto;
  position: relative;
  top: 30px;
  line-height: 1.6;
}

.give-margin{
  margin-bottom: 60px;
  margin-top: 60px;
}