html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #05000f;
  color: #fff;
}

.main-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}
