.footer-container {
  background-color: #05000f;
  color: #ffffff;
  padding: 40px 20px;
  margin-top: 40px;
  margin-bottom: 0;
}

.footer-title {
  margin-bottom: 10px;
  font-weight: 600;
}

.footer-link {
  color: #fff !important;
  text-decoration: none !important;
  cursor: pointer;
}

.footer-link:hover {
  color: #6c3bdf !important;
  text-decoration: underline !important;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: .8px solid #321b52;
}

.icon:hover {
  color: #6c3bdf !important;
}
