/* ------------------------- */
/* DESKTOP DEFAULT STYLES   */
/* ------------------------- */

.navbar {
  height: 70px;
  padding: 0 !important;
  background-color: #05000f;
  color: #ffffff;
  border-bottom: 0.8px solid #321b52;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar-brand img {
  max-height: 90px;
  width: auto;
  margin-bottom: 10px;
}

.navbar-brand {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-nav {
  margin-left: auto;
  gap: 14px;
  margin-right: 14px;
}

.navbar-nav .nav-link {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 14px;
}

.navbar-nav .nav-link p {
  margin: 0;
  display: flex;
  align-items: center;
}

.menu:hover {
  color: #6c3bdf;
}

.menu.selected {
  color: #6c3bdf;
  font-weight: 600;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

/* ------------------------- */
/* MOBILE RESPONSIVE FIXES  */
/* ------------------------- */
@media (max-width: 991px) {
  .navbar {
    height: 70px;
    padding: 0 !important;
  }

  .navbar-collapse {
    background: rgba(5, 0, 15, 0.7); /* translucent */
    backdrop-filter: blur(10px); /* blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    padding: 10px 0;
    border-top: 1px solid #321b52;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
  }

  .navbar-brand img {
    max-height: 60px; /* safe size for up to 900px width */
    width: auto;
    margin-bottom: 0;
  }

  .navbar-toggler {
    border: none;
    filter: invert(1);
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar-nav {
    margin: 10px 0 0 0;
    gap: 0;
  }

  .navbar-nav .nav-link {
    height: auto;
    padding: 12px 10px;
    display: block;
  }

  .navbar-nav .nav-link p {
    font-size: 18px;
    padding: 5px 0;
  }
}
