.navbar {
  height: 70px; /* fixed height */
  padding: 0 !important;
  background-color: #05000f;
  color: #ffffff;
  border-bottom:0.8px solid #321b52 ;
}

.navbar-brand img {
  max-height: 90px; /* logo size */
  width: auto;
  margin-bottom: 10px;
}

.navbar-brand {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-nav {
  margin-left: auto; /* pushes menu to the right */
  gap: 14px;
  margin-right: 14px;
}

.navbar-nav .nav-link {
  display: flex;
  align-items: center; /* vertically centers <p> */
  height: 70px; /* same as navbar */
  padding: 0 14px;
}

.navbar-nav .nav-link p {
  margin: 0; /* remove extra spacing */
  display: flex;
  align-items: center; /* ensure perfect centering */
}

.menu:hover {
  color: #6c3bdf;
}

/* Active/selected menu */
.menu.selected {
  color: #6c3bdf;
  font-weight: 600; /* optional, for emphasis */
}

/* Ensure links don't mess with text color */
.nav-link {
  text-decoration: none;
  color: inherit;
}
